/*************************************************************************
 * Your custom CSS file
 *************************************************************************/

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-evenly;
  padding: 20px;
  background-color: rgb(253, 253, 253);
}
.box {
  background-color: rgb(108, 108, 248);
  color: #fff;
  padding: 20px;
  width: 30%;
  border-radius: 5px;
}
.box h2 {
  margin-top: 0;
}
.contact {
  color: #0af;
  text-decoration: none;
  font-weight: bold;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(62, 123, 255);
  color: white;
}
.header a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #444;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

input[type="text"] {
  padding: 5px;
}

.hero {
  background: url('logo.jpg') no-repeat center center/cover;
  color: rgb(168, 38, 38);
  text-align: center;
  padding: 100px 20px;
}

.hero-text {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 20px;
}

.hero h2 {
  margin: 0;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: orange;
  color: white;
  text-decoration: none;
}

.features {
  display: flex;
  justify-content: space-around;
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.features .feature {
  flex: 1;
  padding: 10px;
}

.icon {
  font-size: 2em;
}

.products {
  padding: 20px;
  text-align: center;
}

.product-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  flex: 1;
  margin: 10px;
  max-width: 200px;
}

.product img {
  width: 100%;
}

.original-price {
  text-decoration: line-through;
  color: red;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
}
